﻿@model IEnumerable<MVC.Models.Filme>

@{
    ViewBag.Title = "Filmes";
}

<h2>Filmes</h2>

<p>
    @Html.ActionLink("Novo Filme", "Create")

    @*Html.BeginForm() é um helper que vai criar a tag form
        Se utilizarmos o Html.BeginForm() não passa para o link o endereço
        Utilizando a forma Html.BeginForm("Index", "Filmes", FormMethod.Get) passa para o link o endereço, isto proque estamos a dizer que é pelo metodo GET*@
    @using (Html.BeginForm("Index", "Filmes", FormMethod.Get))
    {
        <p>Género: @Html.DropDownList("procuraGenero","Todos")
            Tituo: @Html.TextBox("procuraFilme")
            <input type="submit" value="Filtrar" /></p>
    }

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdFilme }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.IdFilme }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.IdFilme })
        </td>
    </tr>
}

</table>
